/* Import common styles */
@import "./Common.css";

/* Container styles for all tables */
.table-container,
.expense-table-container,
.general-table-container,
.food-table-container,
.itemized-table-container,
.mileage-table-container {
  width: 100%;
  min-width: 800px; /* Ensures minimum width */
  display: flex;
  flex-direction: column;
}

/* Table header styles */
.table-header,
.expense-table-header,
.food-table-header,
.itemized-table-header,
.mileage-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #007bff;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: smaller;
  text-wrap: nowrap;
}

/* Specific table styles */
.expense-table-header,
.expense-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr auto;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.food-table-header,
.food-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr) auto;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.itemized-table-header,
.item-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(4, 0.5fr) repeat(3, 1fr) 0.5fr 0.5fr auto;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* Mileage table styles */
.mileage-table-header,
.mileage-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* Input and select styles for all tables */
.input-container,
.input,
.select,
.food-input,
.food-select,
.mileage-input,
.mileage-select {
  width: 100%;
}

/* Add row button styles */
.add-row {
  margin-top: 20px;
  align-self: flex-start;
  padding: 5px 10px;
}

/* Header spacing for readability */
.table-header h4,
.itemized-table-header span,
.food-table-header span,
.expense-table-header span,
.mileage-table-header span {
  text-wrap: nowrap;
  margin-right: 10px;
  font-weight: bold;
  border-right: solid 1px #ccc;
}

/* No data message styles */
.no-data {
  padding: 20px;
  color: #666;
  text-align: center;
}

/* Food table container styles */
.food-table-container,
.expense-table-container,
.general-table-container,
.mileage-table-container,
.itemized-table-container {
  width: 100%;
  padding: 20px 2rem;
  min-width: 800px;
}

/* Food row styles */
.food-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr) auto;
  gap: 9px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* Itemized table container styles */
.itemized-table-container {
  width: 100%;
  padding: 20px 2rem;
  min-width: 800px; /* Ensures minimum width */
}
