/* File: src/css/Summary.css */

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.summary-sections-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

.summary-box {
  width: 100%;
  margin-top: 20px;
}

.summary-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summary-title {
  margin-bottom: 20px;
}

.summary-box-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.summary-box-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.link-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link-btn:hover {
  background-color: #0056b3;
}

.col1, .col2, .col3, .col4, .col6 {
  box-sizing: border-box;
}

.col1 {
  width: 8.33%;
}

.col2 {
  width: 16.66%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33%;
}

.col6 {
  width: 50%;
}

.w20 {
  width: calc(100% / 5);
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.summary-headers-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
}

.summary-header {
  width: calc(100% / 5);
  text-align: center;
  font-weight: bold;
}

.summary-box-item-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}
