/* General Summary Styles */
.summary-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.summary-sections-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

.summary-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.summary-box {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.summary-category-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.summary-headers-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: center;
}

.summary-header {
  width: calc(100% / 4);
  text-align: center;
}

.summary-box-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.summary-box-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.w20 {
  width: calc(100% / 4);
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
}

.summary-category-total {
  display: flex;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  justify-content: end;
}
.summary-category-total div {
  width:25%;
  border: 1px solid #ccc;
  padding: 5px 0;
}

.summary-total {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

/* General Comments Section */
.general-comments-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.general-comments-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.general-comment-item {
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
}

.general-comment-item:last-child {
  border-bottom: none;
}
