/* File: src/css/Summary.css */

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 100vw;
}

.summary-sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.summary-box {
  max-width: 80rem;
  min-width: 40rem;
}

.summary-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summary-title {
  margin-bottom: 20px;
}

.summary-box-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.summary-box-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.link-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link-btn:hover {
  background-color: #0056b3;
}

.col1 {
  width: calc(100% / 12);
}

.col2 {
  width: calc(100% / 6);
}

.col3 {
  width: calc(100% / 4);
}

.col4 {
  width: calc(100% / 3);
}

.col6 {
  width: calc(100% / 2);
}

.w20 {
  width: 210px;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.summary-headers-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 80rem;
  min-width: 40rem;
  padding: 10px;
  margin: 10px 0;
}

.summary-header {
  width: 20%;
}

.summary-box-item-row > div {
  display: flex;
  align-items: center;
}