.table_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.table_header {
  display: flex;
  justify-content: space-around;
}

.item-row, .item-table-heading-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}
.w-10 {
    width: calc(100%/12);
    text-align: center;
}
.w-5 {
    width: calc(100%/6);
    text-align: center;
}
.iw-5 {
    width: 7rem;
}