.expense_navigation_container a.active button {
    background-color: #3498db;
    color: white;
  }
  
  .expense_navigation_container a button {
    background-color: transparent;
    color: black;
    border: solid rgb(49, 134, 212) 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
  }
  
  .expense_navigation_container a button:hover {
    background-color: #ddd;
  }
  
  .expense_navigation_container a.active button:hover {
    background-color: #2980b9;
  }

  .expense_navigation_container {
    width: 100%;
  }
  .user-navigation-items button{
    width: 11rem;
  }
