/* Wrapper styling */
.user_navigation_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid #ccc;
}

/* Navigation container styling */
.user_navigation_container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width:100%
}
.user-navigation-left {

}
/* Default and active tab styling */
.user-navigation-items button {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  white-space: nowrap;
  box-shadow: none;
  width: 12rem;
}
.user-navigation-items {
  position: relative;
}
.user-navigation-items::after {
  content: "";
  position: absolute;
  right: 0;
  top: 30%; /* Adjust this to change how high the line starts */
  bottom: 30%; /* Adjust this to change how low the line ends */
  width: 1px;
  background-color: #ccc; /* Light gray color for the vertical line */
}


.user-navigation-items.active button {
  color: #023e74;
  font-weight: bold;
  border-bottom: 1px solid #333;
  border-radius: 0;
}

.expense_navigation_container a:last-child button {
  border-right: none;
}

.expense_navigation_container a button:hover {
  background-color: #dcdce4;
}

/* Styles for aligning BackButton */
.expense_navigation_wrapper > .BackButton {
  align-self: flex-start;
}

/* Updated font size for rows */
.expense-row,
.food-row,
.item-row,
.mileage-row {
  font-size: 0.875rem;
}

.expense-row div,
.food-row div,
.item-row div,
.mileage-row div {
  padding: 5px 0;
  font-size: 0.875rem;
}

/* Consistent styles for form elements */
.input,
.select,
.food-input,
.food-select,
.mileage-input,
.mileage-select {
  font-size: 0.875rem;
}

.add-row {
  margin-top: 10px;
  align-self: flex-start;
  padding: 5px 15px;
  font-size: 0.875rem;
}
